node_modules
apps/*/node_modules
apps/backend/config/*
packages/*/node_modules
.pnpm-store
.pnpm
.pnp.cjs
.pnp.js
.cache
.nuxt
.output
dist
.dist
.DS_Store
.idea
.vscode
.env
*.log
coverage

apps/web/.output